extends base-auth.pug

block variables
    - const pageTitle = 'وبلاگ | ورود';

block content
    h3.fw-bolder.text-center(style="font-size: 3rem") ورود
    form.needs-validation(novalidate)
        .row.mx-0.form-floating.mt-5
            input.form-control#floatingInput(type="text", placeholder, required)
            label(for="floatingInput") نام کاربری
        .row.mx-0.form-floating.mt-3
            input.form-control#floatingPassword(type="password", placeholder, required)
            label(for="floatingPassword") رمزعبور
        .row.mt-1.mx-0.text-center
            button.btn.fs-4.w-100.bg-gradient.btn-dark(type="submit", style="height: 58px") ورود
    .row.my-3
        small.text-muted(style="font-size: 14px")
            | اکانت نداری ؟ 
            a.a-hover(href="/auth/register") ثبت نام
    hr
    .row.justify-content-center.mb-0
        .col-6.col-sm-4.text-center
            a.btn.btn-outline-dark.bg-gradient.text-decoration-none.border-0(href="/")
                | برگشت
                i.bi.bi-arrow-left.ms-1

block extraJs
    script.
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
  