extends base-auth.pug

block variables
    - const pageTitle = 'وبلاگ | ثبت نام';


block content
    h3.fw-bolder.text-center(style="font-size: 3rem") ثبت نام
    form.needs-validation(novalidate)
        .row.mx-0.form-floating.mt-4
            input.form-control#floatingInput(type="text", placeholder, required)
            label(for="floatingInput") نام کاربری
        .row.mx-0.form-floating.mt-2
            input.form-control#floatingPassword(type="email", placeholder, required)
            label(for="floatingPassword") ایمیل
        .row.mx-0.form-floating.mt-2
            input.form-control#floatingPassword(type="password", placeholder, required)
            label(for="floatingPassword") رمزعبور
        .row.mx-0.form-floating.mt-2
            input.form-control#floatingPassword(type="password", placeholder, required)
            label(for="floatingPassword") تکرار رمزعبور
        .row.mt-1.mx-0.text-center
            button.btn.fs-4.w-100.bg-gradient.btn-dark(type="submit", style="height: 58px") ثبت نام
        .row.my-3.mx-0
            small.text-muted(style="font-size: 14px")
                | قبلا ثبت نام کرددید؟ 
                a.text-decoration-none(href="/auth/login", style="font-size: 16px") ورود
    hr.mt-2
    .row.justify-content-center.mb-0
        .col-6.col-sm-4.text-center
            a.btn.btn-outline-dark.bg-gradient.text-decoration-none.border-0(href="/")
                | برگشت
                i.bi.bi-arrow-left.ms-1

block extraJs
    script.
        (() => {
            "use strict";
            const forms = document.querySelectorAll(".needs-validation");
            Array.from(forms).forEach((form) => {
                form.addEventListener(
                    "submit",
                    (event) => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                    },
                    false
                );
            });
        })();
  