footer.bg-secondary
    .container
        .row
            .col.mt-4.mb-2
                h3.fw-bolder.text-center.text-md-start.text-white.fs-1 وبلاگ 
        .row.text-white
            .col-md-4.flex-column.align-items-center.align-items-md-start.pe-md-5
                .row.justify-content-center.justify-content-md-start.mb-2
                    .col-2.d-flex.justify-content-center.px-4
                        a(href)
                            i.footer-hover.bi.bi-envelope.fs-3
                    .col-2.d-flex.justify-content-center.px-4
                        a(href)
                            i.bi.bi-instagram.fs-3
                    .col-2.d-flex.justify-content-center.px-4
                        a(href)
                            i.footer-hover.bi.bi-facebook.fs-3
                    .col-2.d-flex.justify-content-center.px-4
                        a(href)
                            i.footer-hover.bi.bi-twitter-x.fs-3
                p.text-center.footer-info.text-md-start لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون
                p(style="font-size: 1rem")
                    i.bi.bi-telephone-fill.fs-5
                    |  +98 9**-***-****
            hr.d-md-none
            .col-md-4.d-flex.justify-content-center
                ul.list-unstyled.text-center.text-white
                    li.mt-1
                        h5.fw-bolder.fs-3.footer-hover با وبلاگ
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") تماس با ما
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") درباره ما
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") همکاری با ما
            hr.d-md-none.px-5
            .col-md-4.d-flex.justify-content-center
                ul.list-unstyled.text-center.text-white
                    li.mt-1
                        h5.fw-bolder.fs-3.footer-hover لورم
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") لورم
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") لورم
                    li.mt-1
                        a.text-decoration-none.footer-hover(href, style="font-size: 0.9rem") لورم
