@font-face {
    font-family: Vazirmatn;
    src: url("/static/font/vazir/Vazir-Medium-FD-WOL.eot");
    src: url("/static/font/vazir/Vazir-Medium-FD-WOL.eot") format("embedded-opentype"),
        url("/static/font/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
        url("/static/font/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
        url("/static/font/vazir/Vazir-Medium-FD-WOL.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Vazirmatn, sans-serif;
    background-color: white;
}

.hero {
    height: 100vh;
    width: 100%;
}

.col {
    width: 450px;
}

@media (max-width: 576px) {
    .row {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 577px) {
    .col {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border: 1px solid #dee2e6;
    }
}

.a-hover {
    text-decoration: none;
}

.a-hover:hover {
    text-decoration: underline;
}