@font-face {
    font-family: Vazirmatn;
    src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot");
    src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot") format("embedded-opentype"),
      url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2") format("woff2"),
      url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"),
      url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: Vazirmatn, sans-serif;
  }
  .flex-column {
    display: flex;
  }
  .footer-hover,.bi-instagram{
    transition: all ease .3s;
    color: white;
    cursor: pointer;
  }
  .footer-hover:hover{
    text-shadow: 4px 4px 8px rgba(0,0,0,0.31);
    color: rgb(46, 46, 46);
  }
  .bi-facebook:hover{
    color:	#1778F2;
    text-shadow: none;
  }
  .bi-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .footer-info{
    font-size: .8rem;
    line-height: 2;
  }
  @media (max-width: 992px) {
    .footer-info{
      font-size: .625rem;
    }
  }