@font-face {
  font-family: Vazirmatn;
  src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot");
  src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot")
      format("embedded-opentype"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2")
      format("woff2"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Vazirmatn, sans-serif;
}
/* header-start */
nav {
  transition: all ease 0.3s;
}
.py-6{
  padding: 12px 0;
}
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ):not(.btn) {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
@media (max-width: 768px) {
  .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
      .form-floating
    ) {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  .input-search {
    padding-right: 35px;
  }
  .search-icon {
    position: absolute;
    right: 9px;
    top: 17px;
    z-index: 10;
  }
  .bi::before,
  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    vertical-align: -0.25rem;
  }
}
@media (max-width: 576px) {
  .offcanvas-body,
  .bi {
    font-size: 1.5rem;
  }
}
.navbar-toggler {
  padding: 4px 4px;
  border-radius: 50%;
  width: 40px;
  transition: .2s;
  
}
.navbar-toggler-icon{
  height: 1.45rem;
  width: 1.45rem;
}
.navbar-toggler:hover {
  background-color: #f7f7f7;
}
.navbar-toggler:focus {
  background-color: #f7f7f7;
  box-shadow: none;
}
.navbar-toggler-icon {
  border: none;
}
.navbar > .container {
  flex-wrap: nowrap;
}
.flex-column {
  display: flex;
}
.dropdown .bi::before,
.dropdown [class^="bi-"]::before,
.dropdown [class*=" bi-"]::before {
  vertical-align: -0.325rem;
}
.btn-outline-dark {
  height: 40px;
  width: auto;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 0.75rem;
}
.btn-outline-dark i {
  font-size: 1.25rem;
}
@media (min-width: 767px) {
  .input-group > .form-control {
    width: 250px;
    flex: 0 0 auto;
  }
  .input-search {
    border-left: none;
  }
  main {
    margin-top: 3.85rem;
  }
}
.input-search:focus {
  box-shadow: none;
  border-color: #dee2e6;
}
.user-icon {
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.user-icon-img {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  flex: 0 0 auto;
  object-fit: cover;
}
/* header-end */

/* main start */
.col-md-9 ul li {
  margin-top: 0.5rem;
}
@media (min-width: 1000px) {
  .post-banner,
  .post-img {
    height: 70vh;
  }
}

/* main end */

/* footer-start */
.footer-hover,
.bi-instagram {
  transition: all ease 0.3s;
  color: white;
  cursor: pointer;
}
.footer-hover:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.31);
  color: rgb(46, 46, 46);
}
.bi-facebook:hover {
  color: #1778f2;
  text-shadow: none;
}
.bi-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.footer-info{
  font-size: .8rem;
  line-height: 2;
}
@media (max-width: 992px) {
  .footer-info{
    font-size: .625rem;
  }
}
/* footer-end */
