@font-face {
  font-family: Vazirmatn;
  src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot");
  src: url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot")
      format("embedded-opentype"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2")
      format("woff2"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("./Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Vazirmatn, sans-serif;
}
.py-6{
  padding: 12px 0;
}
.navbar {
  transition: all ease .3s, padding-right 0s;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ):not(.btn) {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
@media (max-width: 768px) {
  .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
      .form-floating
    ) {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  .input-search {
    padding-right: 35px;
  }
  .search-icon {
    position: absolute;
    right: 9px;
    top: 17px;
    z-index: 10;
  }
  .bi::before,
  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    vertical-align: -0.225rem;
  }
}
@media (max-width: 576px) {
  .offcanvas-body,
  .offcanvas-body .bi {
    font-size: 1.5rem;
  }
}

.navbar-toggler {
  padding: 4px 4px;
  border-radius: 50%;
  width: 40px;
  transition: 0.2s;
}
.navbar-toggler-icon {
  height: 1.45rem;
  width: 1.45rem;
}
.navbar-toggler:hover {
  background-color: #f7f7f7;
}
.navbar-toggler:focus {
  background-color: #f7f7f7;
  box-shadow: none;
}
.navbar-toggler-icon {
  border: none;
}
.navbar > .container {
  flex-wrap: nowrap;
}
nav {
  transition: 0s all ease;
}
.flex-column {
  display: flex;
}

.aside a {
  align-items: center;
}
.btn-outline-dark {
  height: 40px;
  width: auto;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 0.75rem;
}
.btn-outline-dark i {
  font-size: 1.25rem;
}
@media (min-width: 767px) {
  .input-group > .form-control {
    width: 250px;
    flex: 0 0 auto;
  }
  .input-search {
    border-left: none;
  }
  main {
    margin-top: 3.85rem;
  }
}
.input-search:focus {
  box-shadow: none;
  border-color: #dee2e6;
}
.user-icon {
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.user-icon-img {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  flex: 0 0 auto;
  object-fit: cover;
}

/* header-end */

/* main start */

.aside {
  border: 1px solid #dee2e6;
  background-color: #fafafa;
}
.main {
  border: 1px solid #dee2e6;
}
/* ::-webkit-scrollbar {
  width: 18px;
  
} */
.main::-webkit-scrollbar {
  width: 12px;
  position: absolute;
  right: 0;
}

.main::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
@media (min-width: 576px) {
  .aside {
    border-radius: 0.375rem;
  }
  .main {
    border-radius: 0.375rem;
  }
}
@media (min-width: 768px) {
  .edit-container {
    height: 85vh;
    overflow: hidden;
  }
  .aside {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    height: 85vh;
    overflow: hidden;
  }
  .main {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 85vh;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .aside {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .main {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
  }
  .form-floating:nth-child(odd) {
    padding-left: 0;
  }
}
.aside .bi::before,
.aside [class^="bi-"]::before,
.aside [class*=" bi-"]::before {
  vertical-align: -0.325rem;
}
.main .bi::before,
.main [class^="bi-"]::before,
.main [class*=" bi-"]::before {
  vertical-align: -0.325rem;
}

.btn3637 {
  text-decoration: none;
  color: rgb(105, 105, 105);
  border: 0.3rem solid transparent;
  align-self: center;
  transition: 0.1s;
  padding: 0px 10px;
  border-radius: 0.375rem;
}
.list-unstyled {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.5rem;
}
.list-unstyled:last-child {
  border-bottom: none;
}

.btn38:hover {
  color: #000000;
}
.exit-btn {
  transition: 0.2s;
  color: rgb(105, 105, 105);
}
.exit-btn:hover {
  color: red;
}
.btn38:focus {
  color: #000000;
  background-color: #ebebeb;
}

.exit {
  justify-content: end;
}
.edit-avatar {
  background-color: #b1b1b1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.edit-avatar-img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.3s;
  object-fit: cover;
}
.edit-avatar:hover .edit-avatar-img {
  opacity: 0.6;
}
.edit-avatar-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
  color: #000000;
}
.edit-avatar:hover .edit-avatar-svg {
  opacity: 1;
}

.bi-pencil-square {
  transition: 0.2s;
  color: rgb(119, 119, 119);
}
.btn:hover .bi-pencil-square {
  color: #000000;
}
.drag-area {
  border: 2px dashed #a8a8a8;
  height: 400px;
  width: 700px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
}
.drag-area.active {
  border: 2px dashed #000000;
}

.drag-area .icon {
  font-size: 100px;
  color: #000000;
}

.drag-area div {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.drag-area span {
  font-size: 25px;
  color: #000000;
  font-weight: 500;
  margin: 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "vazir";
  border: none;
  outline: none;
  background: #212529;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.form-floating .form-control:focus {
  box-shadow: none;
  border-color: #8a8a8a;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #c7c7c7 #ffffff;
}

/* Chrome, Edge, and Safari */
.modal-body::-webkit-scrollbar {
  width: 16px;
  position: absolute;
  right: 0;
}

.modal-body::-webkit-scrollbar-track {
  background: #ffffff;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.form-container {
  padding: 0 12px;
}
.form-floating {
  padding-right: 0;
  margin-top: 12px;
}
.form-floating:nth-child(even),
.textarea {
  padding-left: 0;
}

.form-floating:-webkit-autofill {
  background-color: white !important;
}
.form-floating:-webkit-autofill:focus {
  background-color: white !important;
}
/* main end */

/* footer-start */
.footer-hover,
.bi-instagram {
  transition: all ease 0.3s;
  color: white;
  cursor: pointer;
}
.footer-hover:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.31);
  color: rgb(46, 46, 46);
}
.bi-facebook:hover {
  color: #1778f2;
  text-shadow: none;
}
.bi-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.footer-info {
  font-size: 0.8rem;
  line-height: 2;
}
@media (max-width: 992px) {
  .footer-info {
    font-size: 0.625rem;
  }
}
/* footer-end */
